def {{verb}}({{param_text}}):
    {% if verb == "delete" %}return "Resource deleted", 204
    {% elif verb == "delete" %}return "Resource deleted", 204
    {% else %}return "Resource result here", 200{% endif %}
